:root{
    font-family: 'Sawarabi Gothic', sans-serif;
    display: grid;
    width: 1000px;
}

/* .grid{

} */

body {
    background-color: hotpink;
    margin: 0 0 0 0;
    vertical-align: middle;
}

header {
    background-color: red;
    height: 100px;
    padding-left: 100px;
    line-height: 100px;
    font-size: 2.5rem;
}

Nav {
    background-color: blue;
    width: 80px;
    height: 800px;
}

Main {
    background-color: grey;
    width: 920px;
    height: 800px;
}

Footer {
    background-color: green;
    height: 45px;
}